@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0D0D0E;
  color: #FFFFFF;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0D0D0E;
}
::-webkit-scrollbar-thumb {
  background: #26262A;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF5500;
}
